#contain-dashboard{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content:baseline;
}

#contain-product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login-card{
  background-color: #ffffff;
  border: 1px solid #e2e8f0; /* Un borde gris muy fino */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}

#contain-product-ontime > mat-card, #contain-product-add>mat-card {
    margin: 5px;
    padding: 5px;
    width: 600px;
    height: auto;
}

#contain-product-add>mat-card{
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  list-style: none; 
  padding: 0;       
  margin: 0; 
}