<nav>
    <ul>
        <li><a routerLink="/dashboard" routerLinkActive="activo">Dashboard</a></li>
        <li class="activa-menu"><a>Producto</a>
            <ul class="sub-menu">
                <li><a routerLink="/productos/crear" routerLinkActive="activo">Crear</a></li>
                <li><a routerLink="/productos/lista" routerLinkActive="activo">Listar</a></li>
            </ul>
        </li>
        <li><a routerLink="/perfil" routerLinkActive="activo">Perfil</a></li>
        <li><a routerLink="/cerrar-sesion" routerLinkActive="activo">Cerra sesion</a></li>
    </ul>
</nav>