:host{
    position: fixed;

    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 1000;
}

.producto-container{
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.producto-card{
  background-color: #ffffff;
  border: 1px solid #e2e8f0; /* Un borde gris muy fino */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.producto-card.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
  pointer-events: none;
}

#producto-form-div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
}

.sub-form-div{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 15px;
}

.sub-form-div > label {
    width: 100px;
}

.sub-form-div  input{
    font-size: small;
}

#guardar-div{
    width: 100%;
}

#guardar-div > button{
    width: auto;
    height: 30px;
    border-radius: 12%;
    background-color: #0052cc;
    color: #ffffff;
    &:hover{
        background: #0266fa;
    }
}

.close-link {
    background: none;
    border: none;
    padding: 0;
    color: #666;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: underline;
}

.close-link:hover {
    color: #111;
}

.header.cardHeader {
    display: flex;
    justify-content:end;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-right: 15px;
}