<div class="login-container">

  <mat-card class="login-card"  [ngClass]="{ blur: isLoading }">
    <div class="title">
      <img src="{{ img }}" alt="Logo de la aplicación" />
      <h4>{{ title }}</h4>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div id="login-form-div">

        <div id="correo-div">
          <label class="correo_lb" for="email">Correo electrónico</label>
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>mail_outline</mat-icon>
            <input
              matInput
              id="email"
              formControlName="email"
              type="email"
              placeholder="Correo"
              required
            />
            @if (loginForm.get('email')?.hasError('required')) {
              <mat-error>El correo es <strong>requerido</strong></mat-error>
            }
            
            @if (loginForm.get('email')?.hasError('email')) {
              <mat-error>Por favor, ingrese un correo válido.</mat-error>
            }
          </mat-form-field>
        </div>
        
        <div id="contrasena-div">
          <label for="password">Contraseña</label>
          <mat-form-field appearance="outline">
            <input
              matInput
              id="password"
              formControlName="password"
              [type]="hide? 'password' : 'text'"
              placeholder="Contraseña"
              required
            />
            <mat-icon matPrefix>lock_outline</mat-icon>

            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hide = !hide"
              [attr.aria-label]="'Mostrar/Ocultar contraseña'"
              [attr.aria-pressed]="hide"
            >
            <mat-icon>{{ hide? 'visibility_off_outline' : 'visibility_outline' }}</mat-icon>
            </button>

            @if (loginForm.get('password')?.hasError('password')) {
              <mat-error>Por favor, ingrese una contraseña.</mat-error>
            }
          </mat-form-field>
        </div>

        <div id="checkBox-div">
          <mat-checkbox formControlName="rememberMe">Recordar</mat-checkbox>

          <button class="button-login" type="submit" [disabled]="loginForm.invalid">Continuar</button>
        </div>

      </div>
      
    </form>

    <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    
  </mat-card>

  @if (message && showMessage) {
    <div
      [ngClass]="
        message.includes('inválidas') || message.includes('intentos')
          ? 'error-message'
          : 'success-message'
      "
    >
      <button id="toggle" (click)="showMessage = false">x</button>
      <p>
        {{ message }}
      </p>
    </div>
  }
  <!-- Loader centrado -->
  <!-- <app-loader *ngIf="isLoading"></app-loader> -->
</div>
