<div id="contain-nav">
    <app-navbar></app-navbar>
</div>

<div class="listar-container">

  <mat-card class="listar-card"  [ngClass]="{ blur: isLoading }" >

    <div class="title">
      <h2>{{ title }}</h2>
    </div>

    <div class="busqueda-div">
      <form>
        <label>Buscar Producto</label>
        <input type="text" placeholder="Ingrese el nombre del producto" >
        <button>Buscar</button>
      </form>
    </div>
    
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let producto"> {{producto.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let producto"> {{producto.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let producto"> {{producto.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let producto"> {{producto.cantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaCompra">
          <th mat-header-cell *matHeaderCellDef> Compra </th>
          <td mat-cell *matCellDef="let producto"> {{producto.fecha_compra | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaVencimiento">
          <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
          <td mat-cell *matCellDef="let producto"> {{producto.fecha_vencimiento | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let producto"> 
            <button mat-icon-button color="primary" title="Ver detalle">
              <mat-icon>visibility</mat-icon>
            </button>

            <button mat-icon-button title="Editar producto">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" title="Eliminar producto">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </mat-card>

  <app-message-error
    [message]="mensaje" 
    [show_message]="mostrarMensaje"
    (cerrar_message)="cerrar_mensaje()">
  </app-message-error>
</div>
