.title {
    text-align: center;
}


.busqueda-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.busqueda-div  input{
    width: 300px;
}

.listar-card.blur, .editar-container.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
  pointer-events: none;
}

.eliminar-container{
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.eliminar-card{
    padding: 20px;
}
.botones-eliminar{
    display: flex;
    justify-content: center;
    gap: 10px;
}



